.metatag-widget-container h4 {
    margin-top: 0;
}

.metatag-widget-container .metatag-widget-panel .field-help {
    display: block !important;
    font-style: italic;
}

.token-container .token-table {
    width: 100%;
}

.token-container .token-table > tbody > tr > td,
.token-container .token-table > tbody > tr > th,
.token-container .token-table > tfoot > tr > td,
.token-container .token-table > tfoot > tr > th,
.token-container .token-table > thead > tr > td,
.token-container .token-table > thead > tr > th {
    padding: 2px;
}

.token-container .token-table .token-name {
    width: 30%;
    color: #c6c6c6;
    font-weight: bold;
}

.token-container .token-table .token-info {
    color: #c6c6c6;
}

.modal h4 {
    margin: 0;
}

.modal .modal-body {
    padding: 20px;
}

.modal .token-container h5 {
    font-weight: bold;
    text-transform: uppercase;
}
