<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Metatag" lan="LAN_PLUGIN_METATAG_NAME" version="1.7" date="2022-09-30" compatibility="2.0" installRequired="true">
	<author name="lonalore" url="https://github.com/lonalore/metatag"/>
	<summary lan="LAN_PLUGIN_METATAG_SUMMARY">This plugin allows you to automatically provide structured metadata, aka meta tags, about a website.</summary>
	<description lan="LAN_PLUGIN_METATAG_DESCRIPTION">This plugin allows you to automatically provide structured metadata, aka meta tags, about a website.</description>
	<category>content</category>
	<keywords>
		<word>metatag</word>
		<word>seo</word>
	</keywords>
	<copyright>GNU/GPL</copyright>
	<adminLinks>
		<link url='admin_config.php' description='LAN_CONFIGURE' icon128="images/metatag_128.png" icon='images/metatag_32.png' iconSmall='images/metatag_16.png' primary='true' >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name="addon_list"></pref>
		<pref name="cache_expire">604800</pref>
		<pref name="cache_disabled">0</pref>
		<pref name="override">1</pref>
		<pref name="groups"><![CDATA[array (
'basic' => 1,
'advanced' => 1,
'opengraph' => 1,
'facebook' => 1,
'twitter' => 1,
'dublin' => 1,
'google' => 1,
)]]></pref>
	</pluginPrefs>
</e107Plugin>
